* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

button:focus,
select:focus,
input:focus {
   outline: 0;
}

body {
   font-size: 14px;
   font-family: 'Roboto', sans-serif;
   background-color: #141414;
   font-weight: 300;
   color: white;
}

/* header */
header {
   height: 70px;
   background-color: black;
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   padding: 0 20px;
   display: flex;
   align-items: center;
   color: white;
}
header h1 {
   color: red;
   margin-right: 20px;
}

/* header menu; */
.menu-list {
   list-style-type: none;
}
.menu-list li {
   display: inline-block;
   margin-right: 10px;
}
.menu-list li a {
   color: white;
   text-decoration: none;
}
.menu-list .active {
   font-weight: bold;
}

/* search input */
#search-bar {
   margin-left: auto;
   display: flex;
   align-items: center;
   width: 20px;
   transition: width 0.5s;
}
#search-input {
   background-color: #141414;
   border: none;
   color: white;
   margin-left: 5px;
   transition: width 0.5s;
   width: 0;
}
#search-bar.inputBarStyle {
   background-color: #141414;
   padding: 10px;
   border: 1px solid white;
   width: 300px;
}
#search-input.inputStyle {
   width: 100%;
}
#search-icon {
   color: white;
   font-size: 18px;
}

/* option bar */
#options {
   margin-top: 70px;
   display: flex;
   color: white;
   padding: 10px 20px;
   justify-content: space-between;
}
#options i {
   padding: 10px;
   border: 1px solid white;
   opacity: 0.65;
}


#layout-options .active {
   opacity: 1;
}
#options select {
   background-color: #141414;
   color: white;
   padding: 5px;
   border: 1px solid white;
   visibility: hidden;
}

main {
   padding: 10px 20px 0 20px;
}

.row-container {
   margin: 10px 0 20px 0;
   position: relative;
   white-space: nowrap;
   overflow-x: hidden;
   display: flex;
}

.slide-container {
   width: calc(100% - 40px);
   position: relative;
}

.slide-img {
   width: 25%;
   height: 100%;
   display: inline-block;
   position: relative;
   transition: left 2s;
}

.slide-img img {
   width: 100%;
   /* vertical-align: middle; */
}

.link-all {
   text-align: right;
}

.link-all a {
   color: white;
   transition: color .3s cubic-bezier(0.55, 0, 0.55, 0.2) , font-size .3s cubic-bezier(0.55, 0, 0.55, 0.2) ;
   line-height: 40px;
   padding-right: 20px;
}
.link-all a:hover {
   color: red;
   font-size: 22px;

}
.left,
.right {
   width: 20px;
   position: relative;
   z-index: 10;
   display: flex;
   justify-content: center;
   align-items: center;
}

.left i,
.right i  {
   font-size: 20px;
   color: white;
}

.grid-container {
   height: 100px;
   width: 100%;
   background-color: green;
}

.card-info {
   width: 100%;
   height: 100%;
   position: absolute;
   left: 0;
   top: 0;
   visibility: hidden;
   opacity: 0;
   background-color: black;
   transition: opacity 500ms, visibility 500ms;
   color: white;
   padding: 10px;
   white-space: normal;
   overflow-y: auto;
}

.slide-img:hover .card-info {
   visibility: visible;
   opacity: 1;
}

.card:hover .card-info {
   visibility: visible;
   opacity: 1;
}

.info {
   font-weight: bold;
}

.card-list {
   list-style-type: none;
}

.card-list li {
   margin-bottom: 5px;
}

.star-full {
   color: #F6BB08;
   margin-right: 2px;
}
.star-empty {
   color: white;
   margin-right: 2px;
}

.cards-container {
   display: flex;
   flex-wrap: wrap;
   margin-bottom: 20px;
   padding: 10px;
}
.card {
   color: white;
   position: relative;
   background-color: black;
   margin: 10px calc((100% - 342px * 4) / 4) 0 0;
}

.card img {
   width: 100%;
   /* vertical-align: middle; */
}

.img-placeholder {
   width: 342px;
   height: 513px;
   position: relative;
   background-color: black;
}

.img-placeholder h1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: red;
}

.row-placeholder {
   height: calc(100% - 3px);
   width: 100%;
   position: relative;
   background-color: black;
}

.row-placeholder h1 {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   color: red;
}
.title:hover {
   cursor: pointer;
}
#options select.showGenres {
   visibility: visible;
}

.card-info .flag {
   width: 20px;
}
